<?xml version="1.0" encoding="UTF-8"?>
<config>
  <system>
    <screenmode>1</screenmode><vsync>0</vsync>
    <windowsize_x>1024</windowsize_x><windowsize_y>768</windowsize_y>
  </system>
  <jukebox><path>BMS</path><path>Shared</path></jukebox>
  <player><id>Player</id><name>Player</name><pass></pass><irid></irid><irpass></irpass></player>
  <skin>
    <play_7>LR2files\Theme\LR2\Play\play_7.lr2skin</play_7>
    <play_5>LR2files\Theme\LR2\Play\play_5.lr2skin</play_5>
    <play_14>LR2files\Theme\LR2\Play\play_14.lr2skin</play_14>
    <play_10>LR2files\Theme\LR2\Play\play_10.lr2skin</play_10>
    <play_9>LR2files\Theme\LR2\Play\play_9.lr2skin</play_9>
    <play_7_b>LR2files\Theme\LR2\Play\play_7_battle.lr2skin</play_7_b>
    <play_5_b>LR2files\Theme\LR2\Play\play_5_battle.lr2skin</play_5_b>
    <select>LR2files\Theme\LR2\Select\select.lr2skin</select>
    <decide>LR2files\Theme\LR2\Decide\decide.lr2skin</decide>
    <result>LR2files\Theme\LR2\Result\result.lr2skin</result>
    <keyconfig>LR2files\Theme\LR2\KeyConfig\keyconfig.lr2skin</keyconfig>
    <skinselect>LR2files\Theme\LR2\SkinSelect\skinselect.lr2skin</skinselect>
    <soundset>LR2files\Sound\lr2.lr2ss</soundset>
    <fontname>Arial</fontname>
  </skin>
  <network><lr1ir>0</lr1ir><lr2ir>0</lr2ir><autoupdate>0</autoupdate><getrival>0</getrival></network>
</config>
